<div class="cols-16">
  <div class="col col-16">
    <div class="col-inner">
    <div>
    <a href="javascript:history.back()" onclick="setTimeout(function(){window.scrollTo(0, 50);},300);"><div class="go-back">&#x2039;</div></a>
      <form action="#" method="post">
        <div class="basic-header-nav mb">
          <div class="extract" style="background-image: url('https://www.somosfut.com/user/{{_id}}/front');">
            <div class="avatar" style="background-image: url('https://www.somosfut.com/user/{{_id}}/avatar');">
            </div>
            <div class="title">
              <h1>{{name}} {{lastnameFather}}</h1>
              <h5>www.somosfut.com/#jugador/<span>{{url}}</span></h5>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>