<div class="primary-table-wrapper">
  <table class="primary-table">
    <thead>
    {{#if sHead}}
    
      <tr>
        <th>Pos</th>
        <th>Equipo</th>
        <th>JJ</th>
        <th>JG</th>
        <th>JE</th>
        <th>JP</th>
        <th>GF</th>
        <th>GC</th>
        <th>DG</th>
        <th>PTS</th>
      </tr>
    
   {{/if}}
   </thead>
    <tbody>
      {{#each table}}
      
         {{#if isheader}}
         <tr>
          <td colspan="10" align="center" class="group-name">{{name}}</td>
          </tr>
         <thead>
          <tr>
            <th>Pos</th>
            <th>Equipo</th>
            <th>JJ</th>
            <th>JG</th>
            <th>JE</th>
            <th>JP</th>
            <th>GF</th>
            <th>GC</th>
            <th>DG</th>
            <th>PTS</th>
          </tr>
        </thead>
        {{else}}
        <tr>
          <td><b>{{cntr}}</b></td>
          <td>
            <a href="#equipo/{{team.url}}" onclick="setTimeout(function(){window.scrollTo(0, 50);},300);">
              <span class="img" style="background-image:url('https://www.somosfut.com/team/{{team._id}}/avatar')"></span>
              {{team.name}}
            </a>
          </td>
          <td>{{matches}}</td>
          <td>{{wins}}</td>
          <td>{{ties}}</td>
          <td>{{loses}}</td>
          <td>{{goalsScored}}</td>
          <td>{{goalsReceived}}</td>
          <td>{{math goalsScored '-' goalsReceived}}</td>
          <td><b>{{points}}</b></td>
        </tr>
        {{/if}}
      
      {{/each}}
    </tbody>
  </table>
</div>
