<div class="match expanded">
  <div class="teams">
    <span class="vs">vs</span>
    <div class="team">
      <div class="team-inner">
        {{#if results.filled}}
        <span class="goals first">{{results.goalsB.length}}</span>
        {{/if}}
        <a href="#equipo/{{teamA.url}}" onclick="setTimeout(function(){window.scrollTo(0, 50);},300);">
        {{#if teamA._id}}
          <span class="img" style="background-image: url( 'https://www.somosfut.com/team/{{teamA._id}}/avatar' );"></span>
        {{else}}
          <span class="img" style="background-image: url( 'https://s3.amazonaws.com/com.somosfut/cdn/unknown.png' );"></span>
        {{/if}}

          <h4 class="name">{{teamA.name}}</h4>
     
        </a>
      </div>
    </div>
    <div class="team">
     {{#if results.filled}}
        <span class="goals last">{{results.goalsA.length}}</span>
        {{/if}}
      <div class="team-inner">
        <a href="#equipo/{{teamB.url}}" onclick="setTimeout(function(){window.scrollTo(0, 50);},300);">
        {{#if teamB._id}}
          <span class="img" style="background-image: url( 'https://www.somosfut.com/team/{{teamB._id}}/avatar' );"></span>
          {{else}}
          <span class="img" style="background-image: url( 'https://s3.amazonaws.com/com.somosfut/cdn/unknown.png' );"></span>
        {{/if}}
          <h4 class="name">{{teamB.name}}</h4>
        </a>
      </div>
    </div>
  </div>
  <div class="info">
    <p><b>Horario:</b> {{formatDate 'dddd, MMMM Do YYYY - hh:mm' date}}{{#if address}}<br> <b>Lugar:</b> {{address}}{{/if}} <br>{{{dynLabel}}}</p>
  </div>
</div>