<div class="col-inner">
  <div class="container">
    <div class="box-container mb">
      <div class="box-header">
        <h2>Jugadores</h2>
        <div class="actions">
        </div>
      </div>
      <div class="box-main">
        <table class="primary-table">
          <thead>
            <tr>
              <th>Jugador</th>
              <th>Equipo</th>
              <th>Correo Electrónico</th>
            </tr>
          </thead>
          <tbody>
            {{#each players}}
            <tr>
              <td>
                <a href="#jugador/{{url}}">
                  <span class="img" style="background-image:url('https://www.somosfut.com/user/{{_id}}/avatar');"></span>
                  {{name}} {{lastnameFather}} {{lastnameMother}}
                </a>
              </td>
              <td>
                <a href="#equipo/{{teams.0.url}}">
                  <span class="img" style="background-image:url('https://www.somosfut.com/team/{{teams.0._id}}/avatar');"></span>
                  {{teams.0.name}}
                </a>
              </td>
              <td>{{email}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>