<div class="wrapper">
  <div class="cols-16">
    <div class="col col-11">
      <div class="col-inner">
        <div class="box-container mb">
          <div class="box-header">
            <h3>Datos del Jugador</h3>
          </div>
          <div class="box-main">
            <form action="#" method="post">
              <div class="information-list">
                <ul>
                  <li class="w-counter">
                    <h5>Nombre(s)</h5><span class="rqd">*</span>
                    <span class="counter">
                      <input type="text" 
                             name="info[name]"
                             value="{{name}}"
                             data-validator-required>
                    </span>
                  </li>
                  <li class="w-counter">
                    <h5>Apellido Paterno</h5><span class="rqd">*</span>
                    <span class="counter">
                      <input type="text" 
                             name="info[lastnameFather]"
                             value="{{lastnameFather}}"
                             data-validator-required>
                    </span>
                  </li>
                  <li class="w-counter">
                    <h5>Apellido Materno</h5><span class="rqd">*</span>
                    <span class="counter">
                      <input type="text" 
                             name="info[lastnameMother]"
                             value="{{lastnameMother}}"
                             data-validator-required>
                    </span>
                  </li>
                  <li class="w-counter">
                    <h5>Género</h5><span class="rqd">*</span>
                    <span class="counter">
                      <select name="info[gender]" data-validator-required>
                        <option value="-" 
                                disabled="disabled"
                                selected="selected">Seleccione una opción</option>
                        <option value="male">Masculino</option>
                        <option value="female">Femenino</option>
                      </select>
                    </span>
                  </li>
                  <li class="w-counter">
                    <h5>Posición</h5><span class="rqd">*</span>
                    <span class="counter">
                      <select name="info[position]" data-validator-required>
                        <option value="-"  disabled="disabled" selected="selected">Seleccione una opción</option>
                        <option value="Delantero">Delantero</option>
                        <option value="Portero">Portero</option>
                        <option value="Defensa">Defensa</option>
                        <option value="Medio">Medio</option>
                        <option value="Director Técnico">Director Técnico</option>
                      </select>
                    </span>
                  </li>
                  <li class="w-counter">
                    <h5>Fecha de nacimiento</h5><span class="rqd">*</span>
                    <span class="counter">
                      <div class="birth-data-selects">
                        <select name="birth[day]" data-validator-required="">
                          <option value="-" disabled="disabled" selected="selected">Día</option>
                          <option value="01">1</option>
                          <option value="02">2</option>
                          <option value="03">3</option>
                          <option value="04">4</option>
                          <option value="05">5</option>
                          <option value="06">6</option>
                          <option value="07">7</option>
                          <option value="08">8</option>
                          <option value="09">9</option>
                          <option value="10">10</option>
                          <option value="11">11</option>
                          <option value="12">12</option>
                          <option value="13">13</option>
                          <option value="14">14</option>
                          <option value="15">15</option>
                          <option value="16">16</option>
                          <option value="17">17</option>
                          <option value="18">18</option>
                          <option value="19">19</option>
                          <option value="20">20</option>
                          <option value="21">21</option>
                          <option value="22">22</option>
                          <option value="23">23</option>
                          <option value="24">24</option>
                          <option value="25">25</option>
                          <option value="26">26</option>
                          <option value="27">27</option>
                          <option value="28">28</option>
                          <option value="29">29</option>
                          <option value="30">30</option>
                          <option value="31">31</option>
                        </select>
                        <select name="birth[month]" data-validator-required="">
                          <option value="-" disabled="disabled" selected="selected">Mes</option>
                          <option value="Jan">Enero</option>
                          <option value="Feb">Febrero</option>
                          <option value="Mar">Marzo</option>
                          <option value="Apr">Abril</option>
                          <option value="May">Mayo</option>
                          <option value="Jun">Junio</option>
                          <option value="Jul">Julio</option>
                          <option value="Aug">Agosto</option>
                          <option value="Sept">Septiembre</option>
                          <option value="Oct">Octubre</option>
                          <option value="Nov">Noviembre</option>
                          <option value="Dec">Diciembre</option>
                        </select>
                        <select name="birth[year]" data-validator-required="">
                          <option value="-" disabled="disabled" selected="selected">Año</option>
                          <option value="1950">1950</option>
                          <option value="1951">1951</option>
                          <option value="1952">1984</option>
                          <option value="1953">1952</option>
                          <option value="1954">1954</option>
                          <option value="1955">1955</option>
                          <option value="1956">1956</option>
                          <option value="1957">1957</option>
                          <option value="1958">1958</option>
                          <option value="1959">1959</option>
                          <option value="1960">1960</option>
                          <option value="1961">1961</option>       
                          <option value="1962">1962</option>
                          <option value="1963">1963</option>
                          <option value="1964">1964</option>
                          <option value="1965">1965</option>
                          <option value="1966">1966</option>
                          <option value="1967">1967</option>
                          <option value="1968">1968</option>
                          <option value="1969">1969</option>
                          <option value="1970">1970</option>
                          <option value="1971">1971</option>
                          <option value="1972">1972</option>
                          <option value="1973">1973</option>
                          <option value="1974">1974</option>
                          <option value="1975">1975</option>
                          <option value="1976">1976</option>
                          <option value="1977">1977</option>
                          <option value="1978">1978</option>
                          <option value="1979">1979</option>
                          <option value="1980">1980</option>
                          <option value="1981">1981</option>
                          <option value="1982">1982</option>
                          <option value="1983">1983</option>       
                          <option value="1984">1984</option>
                          <option value="1985">1985</option>
                          <option value="1986">1986</option>
                          <option value="1987">1987</option>
                          <option value="1988">1988</option>
                          <option value="1989">1989</option>
                          <option value="1990">1990</option>
                          <option value="1991">1991</option>
                          <option value="1992">1992</option>
                          <option value="1993">1993</option>
                          <option value="1994">1994</option>
                          <option value="1995">1995</option>
                          <option value="1996">1996</option> 
                          <option value="1997">1997</option>
                          <option value="1998">1998</option>
                          <option value="1999">1999</option> 
                          <option value="2000">2000</option>
                          <option value="2001">2001</option>
                          <option value="2002">2002</option>
                          <option value="2003">2003</option>
                          <option value="2004">2004</option>
                          <option value="2005">2005</option>
                        </select>
                      </div>
                    </span>
                  </li>
                  <li class="w-counter">
                    <h5>Estatura (cm)</h5><span class="rqd">*</span>
                    <span class="counter">
                      <input type="text" 
                             name="info[stature]"
                             value="{{info.stature}}"
                             placeholder="Ejemplo: 170"
                             data-validator-required
                             data-validator-integer>
                    </span>
                  </li>
                  <li class="w-counter">
                    <h5>Peso (kg)</h5><span class="rqd">*</span>
                    <span class="counter">
                      <input type="text"
                                 name="info[weigth]"
                                 value="{{info.weigth}}"
                                 placeholder="Ejemplo: 65"
                                 data-validator-required
                                 data-validator-integer>
                    </span>
                  </li>
                  <li class="w-counter">
                    <h5>Pierna hábil</h5><span class="rqd">*</span>
                    <span class="counter">
                      <select name="info[profile]" data-validator-required>
                        <option value="-" 
                                disabled="disabled"
                                selected="selected">Seleccione una opción</option>
                        <option value="Zurdo">Zurdo</option>
                        <option value="Diestro">Diestro</option>
                        <option value="Ambidiestro">Ambidiestro</option>
                      </select>
                    </span>
                  </li>
                  <li class="w-counter">
                    <h5>Número de playera:</h5><span class="rqd">*</span>
                    <span class="counter">
                      <input type="text"
                             name="info[number]"
                             value="{{info.number}}"
                             placeholder="Ejemplo: 7"
                             data-validator-required
                             data-validator-integer>
                    </span>
                  </li>
                  <li class="w-counter">
                    <h5>Nacionalidad</h5><span class="rqd">*</span>
                    <span class="counter">
                      <select name="info[country]" data-validator-required>
                        <option value="-" 
                                disabled="disabled"
                                selected="selected">Seleccione una opción</option>
                        <option value="México">México</option>
                        <option value="USA">Estados Unidos de America</option>
                        <option value="Brasil">Brasil</option>
                        <option value="Argentina">Argentina</option>
                        <option value="Otro">Otro</option>
                      </select>
                    </span>
                  </li>
                  <li class="w-counter">
                    <h5>Apodo:</h5><span class="rqd">*</span>
                    <span class="counter">
                      <input type="text" 
                             name="info[nickname]"
                             value="{{info.nickname}}"
                             placeholder="Ejemplo: Chicharito"
                             data-validator-required
                             data-validator-string>
                    </span>
                  </li>
                   <li class="w-counter">
                   <button id="saveChanges" class="btn btn-primary">Guardar Cambios</button>
                   </li>
                </ul>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-5">
      <div class="col-inner">
        <div class="box-container">
           <div class="box-header">
            <h3>Equipos</h3>
          </div>
          <div class="box-main">
            <div class="links-list">
              <ul>
                {{#each teams}}
                <li>
                  <a href="#equipo/{{url}}">
                    <span class="img"
                          style="background-image:url('/team/{{_id}}/avatar');"></span>
                    <span class="h5">{{name}}</span>
                  </a>
                </li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
